*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #dbd6d0;
  text-align: center;
  margin: 0;
}

h1 {
  color: #fefefb;
  font-family: "Bevan", cursive;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fefefb;
  font-family: sans-serif;
}

li {
  list-style-type: none;
  background-color: #723837;
  color: #efeee9;
  display: inline-block;
  padding: 0.5em;
  margin-top: 0.15em;
  border-radius: 4px;
}

li:hover {
  background-color: #ff332a;
}

ul {
  padding: 0;
  text-align: center;
  margin-top: 0.25em;
}

header {
  background-color: #79766f;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #59564f;
}

nav {
  padding-bottom: 1em;
}
